<h4>Summary: <%= @booknote.summary %></h4>
<h4>Quotes: <%= @booknote.quotes %></h4>
<p><a href="/booknotes/<%= @booknote.id %>/edit">Edit</a></p>

<form method="post" action="/booknotes/<%=@booknote.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>
