<div class="text-center"><h2>Hello there, <%= @user.username %>!</h2></div>

 <% if @user.books.empty? %>
   <div class="text-center"><h4> Start by adding <a href="/books/new">your first book</a> to the shelf</h4></div>
 <% else %>
    <div class="text-center"><h4>Your bookshelf:</h4></div>
      <div class="row">
        <% @user.books.each do |book| %>
          <div class="col-sm-6">
            <div class="card">
              <a href="/books/<%= book.id %>">
                  <div class="card-header text-center"><%= book.title %></div>
                  <div class="card-body text-center">
                  <em>By</em><br> <%= book.author %></div>
                  <div class="card-footer"></div>
              </a>
            </div>
          </div>
        <% end %>
      </div>
  <button type="button" class="btn btn-lg">Add another book <a href="/books/new">here</a></button>
<% end %>
