<h2>Hello there, <%= @user.username %>!</h2>

<% if @user.books.empty? %>
  <h4> Start by adding <a href="/books/new">your first book</a> to the shelf</h4>
<% else %>
  <% @user.books.each do |book| %>
    <p><%= book.title %></p>
    <p><%= book.author %></p>
  <% end %>
<% end %>
<h4><a href="/logout">Log out</a></h4>
