<h1>Come and join Biblio!:</h1>

<form action="/signup" method="post">
    Your username:
      <input type="text" name="username" id="username">
    Your unguessable password:
      <input type="text" name="password" id="password">
    <input type="submit" value="Sign Up" id="submit">
</form>
<% if !current_user.valid? %>
  <% current_user.errors.messages.each do |error| %>
    <h4><%= error %></h4>
  <% end %>
<% end %> 
