<div class="text-center container-fluid mb-3" id="signup-container">
  <div class="pt-5" id="signup-wrapper">
    <h1>Come and join Biblio!</h1>
    <form action="/signup" method="post">
        Your username:
        <br>
        <input type="text" name="username" id="username">
        <br>
        Your unguessable password:
        <br>
        <input type="password" name="password" id="password">
        <input type="submit" value="Sign Up" id="submit" class="btn btn-dark">
    </form>

    <h4 class="mt-5 pb-5">Already have an account? Log in <a href='/'>here</a></h4>
  </div>
</div>
