<form method="POST" action="/books/<%= @book.id %>">
   <input id="hidden" type="hidden" name="_method" value="patch">
  <h4>Edit the details of your book here:
    <h4>Title: <input type="text" name="title" id="title" value="<%= @book.title %>"</h4>
    <h4>Author: <input type="text" name="author" id="author" value="<%= @book.author.name %>"</h4>
  </h4>
  <input type="submit" id="submit" value="Save your changes">
</form>
