<form method="POST" action="/books">
  <h4>Title:
    <input type="text" name="title" id="title">
  </h4>
  <h4>Author:
    <input type="text" name="author" id="author">
  </h4>
  <input type="submit" id="submit">
</form>
