<h1><%= @book.title %> </h1>

    <h2><em>By</em><br>
      <%= @book.author %>
    </h2>

    <h4>Add notes to this book</h4>
    <form method="POST" action="/books/<%= @book.id %>/booknotes">
      <h4>One-line summary:
        <input type="text" name="title" id="summary" value="optional">
      </h4>
      <h4>Main premise:
        <input type="textarea" name="main_premise" id="main_premise">
      </h4>
      <h4>Favorite quotes:
        <textarea type="text" name="quotes" id="quotes"></textarea>
      </h4>
      <h4>Follow-up:
        <input type="textarea" name="follow_up" id="follow_up">
      </h4>
      <h4><input type="submit" id="submit"></h4>
    </form>
