

<main role="main">

  <div class="container-fluid text-center" id="lead">
      <h1 class="display-3"><i>biblio.</i></h1>
      <p id="copy">Your personal bookshelf. Organize your favourite tomes and add some notes.</p>
  </div>


  <div class="container text-center">
    <div class="row">
      <div class="col-md-6 mt-5">
        <h2>Log In</h2>

          <form action="/login" method="post">
              <h4>Username:</h4>
                <input type="text" name="username" id="username">
              <h4>Password:</h4>
                <input type="password" name="password" id="password">
              <%= @error_message %><br>
              <input type="submit" value="Log In" id="submit" class="btn btn-dark">
          </form>
        </div>
      <div class="col-md-6 mt-5">
        <h2>Don't have an account?</h2>
          <h4>Sign up <a href="/signup">here</a></h4>
      </div>
    </div>
  </div>

</main>
