<h1>Biblio</h1>

<h4>Log In Below:</h4>

<form action="/login" method="post">
    Username:
      <input type="text" name="username" id="username">
    Password:
      <input type="text" name="password" id="password">
    <input type="submit" value="Log In" id="submit">
</form>

<h4>Don't have an account? Signup <a href="/signup">here</a></h4>
